
    
* {

    box-sizing: border-box;
}

body {

    position: relative;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 24px;
    background: url("../images/background.jpg");
}

h1 {

    margin: 35px 0 0 0;
    text-align: center;
    font-size: 40px;
    line-height: 69px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0616f5;
}

.container {

    text-align: center;
    margin: 0 15%;
    padding: 30px;
    background: lightblue
}

.main-content {

    padding: 5% 0;
}

.btn {

    padding: 25px 95px;
    font-size: 30px;
    background:white;
    border: 2px solid red;
}

